{% extends "base.html.twig" %}
{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>F. NACIMIENTO</th>
    </tr>
    {% for row in resultados %}
    <tr>
        <td>{{row.getId}}</td>
        <td>{{row.getTitulo}}</td>
        <td>{{row.getFecha_creacion | date("d/m/Y")}}</td>
    </tr>
    {% endfor %}
    <div>
    {% for page in 1..totalPages %}
        <a href='http://localhost/UD4/Ejercicio2-Sintocar/public/index.php/lista/{{ page }}'>{{ page }}</a>
    {% endfor %}
</div>
</table>
{% endblock content %}


