{% extends "index.html" %}
{% block content %}
<table>
<p><a href="/UD4/Ejercicio3/templates/formEmp.html">{I}</a></p>
    <tr>
        <th>APELLIDOS</th>
        <th>OFICIO</th>
    </tr>
    {% for row in resultados %}
    <tr>
        <td> <a href="/UD4/Ejercicio3/public/index.php/detail/{{row.getEmp}} "> {{row.getApellidos}}</td>
        <td>{{row.getOficio}}</td>
        <td><a href="/UD4/Ejercicio3/public/index.php/deleteEmp/{{row.getEmp}}">{X}</a></td>
        <td><a href="/UD4/Ejercicio3/public/index.php/update/{{row.getEmp}}">{U}</a></td>

    </tr>
    {% endfor %}
   
</table>
 <div>
    {% for page in 1..totalPages %}
        <a href='http://localhost/UD4/Ejercicio3/public/index.php/{{ type }}/{{ page }}'>{{ page }}</a>
    {% endfor %}
    </div>
    <br>
{% endblock content %}


