{% extends "index.html" %}
{% block content %}
<table>
<p><a href="/UD4/Ejercicio3/templates/form.html">{I}</a></p>
    <tr>
        <th>NOMBRE</th>
        <th>Ciudad</th>
    </tr>
    {% for row in resultados %}
    <tr>
        <td> <a href="/UD4/Ejercicio3/public/index.php/detail/{{row.getCliente}} "> {{row.getNombre}}</td>
        <td>{{row.getCiudad}}</td>
        <td><a href="/UD4/Ejercicio3/public/index.php/deleteClient/{{row.getCliente}}">{X}</a></td>
        <td><a href="/UD4/Ejercicio3/public/index.php/update/{{row.getCliente}}">{U}</a></td>

    </tr>
    {% endfor %}
   
</table>
 <div>
    {% for page in 1..totalPages %}
        <a href='http://localhost/UD4/Ejercicio3/public/index.php/{{ type }}/{{ page }}'>{{ page }}</a>
    {% endfor %}
    </div>
    <br>
{% endblock content %}


